doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(
            rel="stylesheet"
            href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css"
        )
        block head
    body
        br
        .container
            h1: a(href="/") Peer-to-peer file share
            br
            block content
